*{
    font-family: "lato", sans-serif;
 }
/* Header */
 header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0C1C3E;
}
#logo {
    width: 140px;
    height: 90px;
    padding: 1rem;
}
.btn_header{
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 40px;
    color: white;
    background-color: #0C1C3E;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    width: 75px;
    height: 25px;
    text-align: center;
}

         /*CONTAINER WELCOME*/
body{
    background-color: #0C1C3E; 
}
#container_welcome{
    background-image: url("https://lh3.googleusercontent.com/FlD4SqNV1oWy2LpHzxoJGVyCbljK5wsYw_2RtOxIoZFj4NvbjWHdmJ-PmmnP59twgTCE6DQuSolIFOdwRZspobtASJUjh8hqzvS0zXriWpUJjD8=rw-e365-w1440");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 9%;
}
#title1{
    font-size: 45px;
    text-shadow: rgb(46, 46, 46) 3px 3px 4px;
}
#title2{
    font-size: 24px;
    text-shadow: rgb(46, 46, 46) 3px 3px 4px;
}
#welcome_logo{
    height: 128px;
    width: 210px;
}

         /* CONTAINER NEW TRAINER */
#container_new_trainer{
    display: flex;
    justify-content: center;
    background-image: url("https://lh3.googleusercontent.com/5-w5yrCLD69zlOIfgMndRr4dMhrKW5u8nJVojvrUqnSI8ln1ywgqzNFjWQJYrN2YlVSBMHNyXzhcIrQXRPUYTcqJXjAzYbJyXiXb_uK3YO2G-g=rw-e365-w1440");
    background-size: cover;
    padding: 15px;
    font-size: 20px;
    align-items: center;
}
#pokes_new_1{
    height: 115px;
    width: 115px;
    align-items: center;
    padding: 1rem;
}
#boton_101{
    border: 2px solid #0061af;
    border-radius: 999px;
    padding: 8px 24px;
    color: #0061af;
    background-color: #FFFFFF;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}
#pokes_new{
    height: 130px;
    width: 320px;
    padding: 1rem;
}

         /* CONTAINER REGIONS*/
#container_regions{
    display: flex, inline-block;
    justify-content: space-between;
    background-image: url(https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1440);                                      
    background-size: cover;
    text-align: center;
    padding: 80px;
}
#section_regions{
    font-size: 45px;
    font-weight: bolder;
}
#inpage_text{
    font-size: 25px;

}
#img_regions{
    height: 270px;
    width: 490px;
    border-radius: 40px;
    border: 3px solid rgb(8, 36, 8);
    opacity: 90%;
}

         /* CONTAINER DOWNLOAD */
#container_download{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-image: url(https://lh3.googleusercontent.com/d3MUt9qnSpEQTo_yOpwf9wefXSrAbGeFT1uo69kPu0piUpx3dt7k99rRpaMZAM3rV-MwVSZe8sGuPHmFKnmwP-2S2jE8KnJnvXo2-MsaMa2B-hI=rw-e365-w1440);
    background-size: cover;
    font-size: 36px;
    color: white;
    font-weight: bolder;
}
.dl_store{
    height: 46px;
    width: 150px;
    border-radius: 10px;
    border: 1px white solid;
    cursor: pointer;
}
#logo_download{
    height: 170px;
    width: 260px;
}
#pokeball{
    height: 80px;
    width:80px;
}
#back_to_top{
    background-color: none;
    height: 70px;
    width: 70px;
}

         /* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 15px;
}
.logo_sn{
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
#logo_laboratoria{
    height: 50px;
    width: 50px; 
}
